recursive-include energyusage *.py *.md *.txt

include requirements*.*
include README.*

graft energyusage/data/json
graft energyusage/data/csv

recursive-exclude ./dist *.py *.R *.Rmd *.md *.txt
recursive-exclude ./build *.py *.R *.Rmd *.md *.txt

prune venv
